{% extends "layout.html" %}
{% block title %}Cart{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container py-3 py-md-5">
  <div class="row justify-content-center">
    {% if cartProducts %}
    {% for product in cartProducts %}
    <div class="col-md-6">
      <div class="card card-body shadow border-0">
        <div class="row g-3">
          <div class="col-3">
            <img src="/static/{{product.thumbnail}}" alt="{{product.title}}" class="d-block w-100" />
          </div>
          <div class="col-9">
            <p class="fw-bold mb-0"><a href="#" class="link-danger">{{ product.title }}</a></p>
            <p class="mb-0 text-currency-before" id="product-price" data-original-price="{{ product.price }}">{{
              product.price}}
            </p>
            <p class="mb-0">
              <span class="d-block">Size: {{ product.size }}</span>
            </p>
            <div class="col-md-8 col-xxl-4">
              <div class="d-flex mb-2 gap-2 align-items-center">
                <label for="">Quantity</label>
                <select class="form-select form-select-sm" data-cart-item="{{product.spec}}">
                  {% if product.stock > 1 %}
                  {% for qnt in range(1, product.stock + 1) %}
                  <option value="{{qnt}}">{{qnt}}</option>
                  {% endfor %}
                  {% endif %}
                </select>
              </div>
            </div>
            <a class="link-danger small btn-remove-from-cart" href="#" data-cart-item="{{product.spec}}">
              <i class="fa-solid fa-trash-can me-2"></i>Remove</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-12 text-center">
      <h1 class="text-danger"><i class="fa-solid fa-sad-tear"></i></h1>
      <h3 class="fw-bold text-danger">No products in your cart</h3>
      <a href="{{ url_for('shop') }}" class="btn btn-success"><i class="fa-solid fa-store-alt me-2"></i>Shop now!</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  const removeFromCartButtons = document.querySelectorAll('.btn-remove-from-cart')
  if (removeFromCartButtons.length) {
    removeFromCartButtons.forEach(button => {
      button.addEventListener('click', (e) => {
        e.preventDefault();
        const cartItem = e.currentTarget.dataset.cartItem;
        const data = new FormData;
        data.append('cartItem', cartItem)
        if (cartItem) {
          fetch('/remove-cart-item', { method: "POST", body: data }).then(response => {
            if (!response.ok) {
              throw new Error(response.statusText)
            }
            response.json().then(result => {
              Swal.fire({
                title: result.status ? 'Success' : 'Error!',
                text: result.message,
                icon: result.status ? 'success' : 'error',
                confirmButtonText: 'OK'
              }).then(res => {
                if (result.status) {
                  location.reload();
                }
              })
            })
          })
        }
      })
    })
  }

  // document.addEventListener('DOMContentLoaded', function () {
  //   const quantitySelects = document.querySelectorAll('.form-select');

  //   quantitySelects.forEach(function (select) {
  //     select.addEventListener('change', function () {
  //       const productPriceElement = select.closest('.card').querySelector('#product-price');
  //       const originalPrice = parseFloat(productPriceElement.getAttribute('data-original-price'));
  //       const quantity = parseInt(select.value);
  //       const newPrice = originalPrice * quantity;

  //       productPriceElement.textContent = newPrice.toFixed(2);
  //     });
  //   });
  // });
</script>
{% endblock %}