<!doctype html>
<html class="h-100">

  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Clothing Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800;1,900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
  </head>

  <body class="h-100 d-flex flex-column">
    <main class="flex-shrink-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="main-navbar">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shop">Male</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shop">Female</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/"><i class="fa-solid fa-shopping-bag fa-lg"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa-solid fa-user fa-lg"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="content">{% block content %}{% endblock %}</div>
    </main>
    <div id="footer" class="mt-auto py-3 text-center bg-body-tertiary">
      {% block footer %}
      &copy; 2024
      {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>

</html>