{% extends "layout.html" %}
{% block title %}Shop{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<div class="container py-3 py-md-5">
  <div class="row g-4">
    {% if products|length %}
    {% for product in products %}
    <div class="col-md-3">
      <div class="card border-0 shadow">
        <img src="/static/{{ product.thumbnail }}" alt="{{ product.title }}" class="card-img-top">
        <div class="card-body">
          <h5>{{ product.title }}</h5>
          <h4 class="text-currency-before">{{ product.price }}</h4>
          <p class="text-muted small mb-0">Available in {{ product.variants }} sizes</p>
        </div>
        <a href="/product?id={{ product.id }}" class="stretched-link"></a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-12">
      <h3 class="fw-bold text-danger">No products found.</h3>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}